* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.card {
  height: 210px;
  width: 210px;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;

  border: 1px solid black;
}

#root {
  display: flex;
  justify-content: center;
}

.picHolder {
  width: 100%;
  height: 60%;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  height: 30px;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 1s;
  padding: 5px;
}

button:hover {
  transform: scale(1.2);
}

.rating {
  height: 30px;
  width: 100px;
  margin: 10px;
}
i {
  color: red;
}
